PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=agc_dood
DB_USER=root
DB_PASS=

SESSION_SECRET=change_this_super_secret

# Admin bootstrap (auto dibuat kalau table kosong)
ADMIN_EMAIL=admin@local.dev
ADMIN_PASSWORD=admin12345

# Branding default
SITE_NAME=PansaDood
SITE_DESC=Streaming Film & Series
